.navbar {
    font-weight: 700;
    font-size: 1rem;
    min-height: 40px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0 0 0;
    width: 100%;
    position: relative;
    z-index: 100;
    font-family: 'OpenSans wght';
    backdrop-filter: blur(1px);
    overflow: visible;
}

.navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    flex: 0 1 auto;
}

.navbar-left {
    width: 20rem;
}

.navbar-right {
    width: 20rem;
}

.navbar-center {
    display: flex;
    justify-content: center;
    margin-right: -65px;
    margin-left: -60px;
}

.transparent-custom-button {
    color: white;
    padding: 0.3em 0.5em;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    border: 3px solid transparent;
    margin: 1px 1px 1px 1px;
    display: inline-block;
}

.transparent-custom-button:hover {
    background: linear-gradient(50deg, #b3bccc 100%, #6173a4 100%);
    color: #2c3e50;
    transform: translateY(-2px);
    box-shadow: 0 0.5em 0.5em -0.4em #b3bccc;
    border-color: transparent;
    mix-blend-mode: luminosity;
}

.navbar-section .navbar-center {
    display: flex;
    align-items: center; /* This will align the items vertically */
}

.search-bar {
    padding: 0.35rem;
    border: 2px solid #ecf0f1;
    outline: none;
    transition: border-color 0.3s ease;
    /*margin: 0 1em;*/
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 4px rgba(235, 235, 235, 0.5);
    justify-content: space-between;
    position: relative;
    flex-grow: 0.5;
    flex-shrink: 0;
    gap: 10px;
}

.search-bar .year {
    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;
}

.search-bar input[name="director"] {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.search-bar input[name="starName"] {
    flex: 1;
}

.search-bar .react-autosuggest__input {
    width: 300px;
}

.suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.suggestion-item {
    color: black;
    font-family: Helvetica;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.search-bar .transparent-custom-button {
    border-radius: 40px;
}

.search-bar input {
    padding: 0.4rem;
    border: 1px solid hsla(0, 0%, 10%, 0.2);
    margin-right: 5px;
    background-color: hsla(0, 0%, 99%, 0.15);
    color: white;
    min-width: 0;
    font-size: 1rem;
}

.search-bar input::placeholder, .search-input {
    font-weight: bold;
    opacity: 0.8;
    color: white;
    font-size: 1rem;
}

.search-bar:focus, .search-input:focus {
    border-color: #2c3e50;
}

.suggestions-container .suggestion-item--focused {
    background-color: blue;
    color: #333;
}

.suggestion-item:hover, .react-autosuggest__suggestion--highlighted {
    background-color: #f2f2f2;
    color: #333;
}


/*@media (max-width: 700px) {*/
/*    .navbar {*/
/*        font-size: 0.6em;*/
/*        padding: 0.3em 3%;*/

/*    }*/

/*    .navbar .transparent-custom-button {*/
/*        margin: 0.1em 0;*/
/*    }*/

/*    .search-bar {*/
/*        font-size: 0.9rem;*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: space-between;*/
/*    }*/

/*    .search-bar input {*/
/*        padding: 5px;*/
/*        flex-grow: 1;*/
/*        margin-right: 5px;*/
/*    }*/
/*}*/