.filter-options-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: relative; /* Needed for z-index to work */
    z-index: 10;
}

.filter-option {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

.filter-label {
    font-size: 15px;
    font-weight: bold;
    margin-right: -5px;
    color: white;
    font-family: 'Helvetica';
}

select {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.99);
    font-weight: bold;
    padding: 5px 5px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.2);
    outline: none;
    transition: all 200ms linear;
}


select:hover,
select:focus {
    border-color: #888;
}

@media (max-width: 600px) {
    .filter-options-container {
        flex-direction: column;
        gap: 15px;
    }
}
