h1 {
    text-align: center;
    margin: 1.5em 0;
    font-size: 2.2em;
    font-weight: 700;
    color: #2c3e50;
}

.year-class {
    font-size: 0.7em;
    margin-left: 0.8em;
    color: #7f8c8d;
}

.browsing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 100px 100px;
    padding: 20px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.browsing:hover {
    transform: scale(1.005);
}

.genres, .initials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.genres > h1, .initials > h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.genres > .link, .initials > .link {
    display: inline-block;
    margin: 0 20px 20px 20px;
    font-size: 1.7rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
        margin: 1em 0;
    }

    .year-class {
        font-size: 0.7em;
        margin-left: 0.5em;
    }
}

@media (max-width: 768px) {
    .genres, .initials {
        max-width: 500px;
    }
}
