h1 {
    text-align: center;
    margin: 1.5em 0 0.1em;
    font-size: 2.3em;
    font-weight: 700;
    font-family: 'Cinzel wght blod';
    color: white;
    /*text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8), -2px -2px 4px rgba(255, 255, 255, 0.3);*/
    text-shadow: 6px 6px 8px rgba(255, 255, 255, 0.8);
    letter-spacing: 3px;
    position: relative;
    z-index: 10;
}

.home-h1 {
    letter-spacing: 8px;
    font-size: 3rem;
    margin: 4em 0 0.1em;
}

.adder-container h1 {
    font-family: Helvetica;
    text-shadow: none;
}

.employee-dashboard-container h1,
.employee-dashboard-container h3 {
    text-align: center;
    font-family: 'Helvetica';
    color: white;
    position: relative;
    letter-spacing: 3px;
    font-size: 2.2rem;
    margin-bottom: -30px;
    margin-top: 70px;
    text-shadow: none;
}

.employee-dashboard-container h3 {
    text-align: center;
    font-size: 1.8rem;
}

.browsing h2 {
    text-align: center;
    font-family: 'Cinzel wght';
    color: white;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8), -2px -2px 4px rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 10;
}

@keyframes animate {
    0%, 100%{

    }
}

.year-class {
    font-size: 0.7em;
    margin-left: 0.8em;
    color: #ced1d1;
    text-shadow: 0 0 90px;
}

.browsing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 100px 100px;
    padding: 20px 20px;
    /*border: 1px solid #e0e0e0;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 10;
}

.browsing:hover {
    transform: scale(1.005);
}

.genres, .initials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.genres > h2, .initials > h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
}

.genres > .link, .initials > .link {
    display: inline-block;
    margin: 0 20px 20px 20px;
    font-size: 1.4rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
        margin: 1em 0;
    }

    .year-class {
        font-size: 0.7em;
        margin-left: 0.5em;
    }
}

@media (max-width: 768px) {
    .genres, .initials {
        max-width: 500px;
    }
}
