.comma {
    margin: 0.2rem;
    font-size: 1.4rem;
}

.link {
    font-weight: 700;
    position: relative;
    color: #3498db;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    transform: translateY(0);
    display: inline-block;
}

.link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #3498db;
    transition: width 0.3s;
}

.link:hover {
    color: #2980b9;
    background-color: #e8e8e8;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.link:hover:after {
    width: 100%;
    mix-blend-mode: screen;
}

.genre-space {
    margin-right: 1rem;
}

.initial-space {
    margin-right: 0.2rem;
}

.initial-space, .genre-space {
    display: inline-block;
    font-size: 2vw;
}

@media (max-width: 600px) {
    .link {
        font-size: 0.9rem;
    }

    .comma {
        font-size: 1.1rem;
        margin: 0.1rem;
    }
}
