/*body {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.closeModalX {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.closeModalX:hover {
    opacity: 1.5;
    transform: scale(1.2);
}

.center {
    /*width: 440px;*/
    /*height: 560px;*/
    /*border-radius: 50px 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
    box-sizing: border-box;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
    position: absolute; /* Needed for z-index to work */
    z-index: 20; /* Ensure z-index is higher than video background */
}

.center:hover {
    transform: scale(0.96);
}

/*.center::before{*/
/*    position: absolute;*/
/*    width: 170%;*/
/*    height: 170%;*/
/*    content: '';*/
/*    background-image: conic-gradient(transparent, transparent, transparent, #508ff5);*/
/*    animation: rotate_border 6s linear infinite;*/
/*}*/

/*.center::after{*/
/*    position: absolute;*/
/*    width: 170%;*/
/*    height: 170%;*/
/*    content: '';*/
/*    background-image: conic-gradient(transparent, transparent, transparent, #ffffff);*/
/*    animation: rotate_border 6s linear infinite;*/
/*    animation-delay: -3s;*/
/*}*/

/*@keyframes rotate_border{*/
/*    0%{*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100%{*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*form {*/
/*    position: absolute;*/
/*    content: '';*/
/*    background-color: #0c1022;*/
/*    border-radius: 50px 5px;*/
/*    inset: 5px;*/
/*    padding: 50px 40px;*/
/*    z-index: 20;*/
/*    color: #00ccff;*/
/*}*/

.login-form {
    overflow: auto;
    position: relative;
    background-color: hsla(0, 0%, 10%, 0.2);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    transform: scale(0.95);
    backdrop-filter: blur(25px);
    box-shadow: 0 4px 8px rgba(235, 235, 235, 0.4);
}

@media (max-width: 700px) {
    form {
        transform: scale(0.8);
    }
}

.title {
    width: 100%;
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -5px;
    color: white;
}

.inputs {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}

.inputf {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin: 20px 0;
    position: relative;
}

.input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.55mm solid rgb(255, 255, 255);
    background: none;
    padding: 0 15px;
    font-size: 16px;
    color: white;
    outline: none;
    contain: layout;
}

.input::placeholder {
    color: rgb(241, 232, 232);
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 13px;
    font-weight: 500;
    opacity: 0;
    z-index: -1;
    transition: 0.25s ease-out;
}

.input:focus + .label {
    top: -20px;
    opacity: 1;
    z-index: 1;
}

.input:focus::placeholder {
    opacity: 0;
}

.input:not(:placeholder-shown) + .label {
    top: -20px;
    opacity: 1;
    z-index: 1;
}

.icon {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 18px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: -5px;
    color: white;
}

.links label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    font-weight: 600;
}

.btn {
    width: 100%;
    height: 45px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.btn span {
    color: rgb(40, 40, 40);
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    background: linear-gradient(50deg, #b3bccc 100%, #6173a4 100%);
    color: #2c3e50;
    box-shadow: 0 0.5em 0.5em -0.4em #b3bccc;
    border-color: transparent;
    mix-blend-mode: luminosity;
}

.dots {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    margin: 1px;
    animation: load 0.5s ease-out infinite alternate var(--delay);
}

.dot:first-child {
    --delay: 0s;
}
.dot:nth-child(2) {
    --delay: 0.5s;
}
.dot:nth-child(3) {
    --delay: 1s;
}

@keyframes load {
    0% {
        background: rgb(0, 0, 0);
    }
    50%,
    100% {
        background: rgba(0, 0, 0, 0.1);
    }
}

.btn .dots {
    display: none;
}

.btn.active .dots {
    display: flex;
}

.btn.active span {
    display: none;
}

.text {
    width: 100%;
    margin-top: 0.7em;
    font-size: 14px;
    text-align: center;
    color: rgb(240, 240, 240);
}

.text a {
    color: white;
    font-weight: 600;
}

.login-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    transform: scale(0.95);
    transform-origin: center;
}

@media (max-width: 768px) {
    .login-recaptcha {
        transform: scale(0.77);
        transform-origin: center;
        margin-left: -14%;
    }
}

.error-message {
    border: 1px solid #ff4b5c;
    padding: 5px 10px;
    /*background-color: #000;*/
    border-radius: 4px;
    color: #ff4b5c;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsla(0, 0%, 10%, 0.3);
    backdrop-filter: blur(100px);
}

.error-shake {
    animation: shake 0.25s ease-in-out 3;
}

@keyframes shake {
    0% {
        margin-left: 0px;
    }
    25% {
        margin-left: 5px;
    }
    75% {
        margin-left: -5px;
    }
    100% {
        margin-left: 0px;
    }
}