h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 35px;
    font-family: -apple-system;
    font-weight: bold;
}

table {
    width: 90%;
    max-height: 400px; /* 设定一个固定高度 */
    overflow-y: auto; /* 设置垂直滚动 */
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
}

th, td {
    padding: 10px 50px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #e0e0e0;
}

th {
    font-weight: bold;
    font-size: 20px;
    background-color: #d5d5d5;
}

td {
    font-size: 18px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e6e6e6;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.comma {
    margin: 5px 5px;
}

.movie-title-link {
    font-size: 20px;
    font-weight: bold;
    color: #007BFF;
}

.movie-title-link:hover {
    color: #007BFF;
    text-decoration: underline;
}
