table {
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    margin: 2em auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

table:hover {
    transform: scale(1.004);
}

th, td {
    padding: 0.9rem 0.6rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

thead {
    background: linear-gradient(160deg, #2c3e50 0%, #34495e 100%); /* gradient for table header */
    color: white;
}

th {
    font-weight: 700;
    font-size: 1.2vw;
    min-width: 120px;
}

td {
    font-size: 1vw;
}

tbody tr {
    transition: all 0.3s ease-in-out;
}

tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
}

tbody tr:hover {
    background-color: #bdc3c7;
    transform: translateY(-3px);
    filter: contrast(1.5);
}

@media (max-width: 600px) {
    th, td {
        padding: 0.7rem 0.4rem;
        font-size: 0.9rem;
    }

    .link {
        font-size: 0.9rem;
    }

    table {
        display: block;
        overflow-x: auto;
        margin: 0 auto;
        max-height: none;
    }

    .comma {
        font-size: 1.1rem;
        margin: 0.1rem;
    }
}

@media (min-width: 900px) {
    table {
        width: 90%; /* larger margin on even larger screens */
    }

    th, td {
        font-size: 1.3rem; /* even bigger font */
    }
}
