table {
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
    margin: 3em auto 3em;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow:0px 0px 151px 0px rgba(46,171,255,0.29);
    -moz-box-shadow: 0px 0px 151px 0px rgba(46,171,255,0.29);
    box-shadow: 0px 0px 151px 0px rgba(46,171,255,0.29);
}

table:hover {
    transform: scale(1.004);
}

th, td {
    padding: 0.9rem 0.6rem;
    text-align: center;
    border-bottom: 1.5px solid #41413f;
}

thead {
    background: linear-gradient(160deg, #2c3e50 0%, #34495e 100%); /* gradient for table header */
    color: white;
}

th {
    font-weight: 700;
    font-size: 1.2vw;
    min-width: 120px;
}

td {
    font-size: 1vw;
}

tbody tr {
    transition: all 0.3s ease-in-out;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #222223;
}

tbody tr:hover {
    background-color: #222223;
    transform: translateY(-3px);
    filter: contrast(1.5);
}

.cart-custom-button {
    padding: 8px 10px;
    background: #41413f;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
}

.cart-custom-button:hover {
    background: linear-gradient(50deg, #33485d, #6173a4);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 0.5em 0.5em -0.4em #32475b;
    border-color: #32475b;
}

.quantity-custom-button {
    padding: 6px 10px;
    background: #41413f;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
    margin-right: 10px;
    margin-left: 10px;
}

.quantity-custom-button:hover {
    background: linear-gradient(50deg, #33485d, #6173a4);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 0.5em 0.5em -0.4em #32475b;
    border-color: #32475b;
}

.quantity-custom-button:active {
    background-color: #e0e0e0;
}

.quantity-value {
    width: 30px;
    text-align: center;
}


@media (max-width: 600px) {
    th, td {
        padding: 0.7rem 0.4rem;
        font-size: 0.9rem;
    }

    .link {
        font-size: 0.9rem;
    }

    table {
        display: block;
        overflow-x: auto;
        margin: 0 auto;
        max-height: none;
    }

    .comma {
        font-size: 1.1rem;
        margin: 0.1rem;
    }
}

@media (min-width: 900px) {
    table {
        width: 90%; /* larger margin on even larger screens */
    }

    th, td {
        font-size: 1.3rem; /* even bigger font */
    }
}
