:root {
  /* Variables */
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --tertiary-color: #7f8c8d;
  --accent-color: #3498db;
  --bg-color: #f6f7fb;
  --white-color: #ffffff;
  background-color: #222223;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #222223 !important;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

